In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv('/Users/srinathnarayanan/Downloads/Fetch Rewards/users.csv')

In [3]:
df

,_id__$oid,active,createdDate__$date,lastLogin__$date,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,1609687530554,1.609688e+12,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN

In [4]:
df = df.rename(columns={"_id__$oid": "User_id"})
df = df.rename(columns={"createdDate__$date":"CreateDateUser"})
df = df.rename(columns={"lastLogin__$date":"lastLoginDate"})

In [5]:
df['CreateDateUser']=df['CreateDateUser'].apply(lambda d: datetime.fromtimestamp(int(d)/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [6]:
df.fillna(0)
df.replace(np.nan, 0)

,User_id,active,CreateDateUser,lastLoginDate,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,1.609688e+12,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1.614963e+12,fetch-staff,0,0
491,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1.614963e+12,fetch-staff,0,0
492,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1.614963e+12,fetch-staff,0,0
493,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1.614963e+12,fetch-staff,0,0
494,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1.614963e+12,fetch-staff,0,0

In [7]:
df['monthUser'] = pd.DatetimeIndex(df['CreateDateUser']).month
df['yearUser'] = pd.DatetimeIndex(df['CreateDateUser']).year
df.head()

,User_id,active,CreateDateUser,lastLoginDate,role,signUpSource,state,monthUser,yearUser
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI,1,2021
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI,1,2021
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI,1,2021
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,1.609688e+12,consumer,Email,WI,1,2021
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI,1,2021

In [8]:
df.to_csv( r'/Users/srinathnarayanan/Downloads/Fetch/Users.csv', header=True, index=False)

In [9]:
df1 = pd.read_csv('/Users/srinathnarayanan/Downloads/Fetch Rewards/Brands.csv')

In [10]:
df1

,_id__$oid,barcode,category,categoryCode,cpg__$id__$oid,cpg__$ref,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,5f77274dbe37ce6b592e90bf,Cogs,test brand @1601644365844,NaN,NaN
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,53e10d6368abd3c7065097cc,Cogs,Dippin Dots® Cereal,NaN,DIPPIN DOTS CEREAL
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves,False,LIPTON TEA Leaves
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,6026d757be37ce6369301467,Cogs,test brand @1613158231643,False,TEST BRANDCODE @1613158231644

In [11]:
df1.dtypes

_id__$oid         object
barcode            int64
category          object
categoryCode      object
cpg__$id__$oid    object
cpg__$ref         object
name              object
topBrand          object
brandCode         object
dtype: object

In [12]:
df1 = df1.rename(columns={"_id__$oid": "Brand_id"})

In [13]:
df1

,Brand_id,barcode,category,categoryCode,cpg__$id__$oid,cpg__$ref,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,5f77274dbe37ce6b592e90bf,Cogs,test brand @1601644365844,NaN,NaN
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,53e10d6368abd3c7065097cc,Cogs,Dippin Dots® Cereal,NaN,DIPPIN DOTS CEREAL
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves,False,LIPTON TEA Leaves
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,6026d757be37ce6369301467,Cogs,test brand @1613158231643,False,TEST BRANDCODE @1613158231644

In [14]:
df1.fillna(0)
df1.replace(np.nan, 0)

,Brand_id,barcode,category,categoryCode,cpg__$id__$oid,cpg__$ref,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False,0
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,5f77274dbe37ce6b592e90bf,Cogs,test brand @1601644365844,0,0
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,0,53e10d6368abd3c7065097cc,Cogs,Dippin Dots® Cereal,0,DIPPIN DOTS CEREAL
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1598639215217,0,TEST BRANDCODE @1598639215217
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,0,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves,False,LIPTON TEA Leaves
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,6026d757be37ce6369301467,Cogs,test brand @1613158231643,False,TEST BRANDCODE @1613158231644

In [15]:
df1.to_csv( r'/Users/srinathnarayanan/Downloads/Fetch/Brands.csv', header=True, index=False)

In [16]:
df2 = pd.read_csv('/Users/srinathnarayanan/Downloads/Fetch Rewards/Receipts.csv', parse_dates=True)

In [17]:
df2

,_id.$oid,bonusPointsEarned,bonusPointsEarnedReason,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,pointsEarned,purchaseDate.$date,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1609687531000,1609687536000,1609687531000,500.0,1609632000000,5,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1609687483000,1609687488000,1609687483000,150.0,1609601083000,2,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5,All-receipts receipt bonus,1609687537000,1609687537000,"""""",1609687542000,"""""",5,1609632000000,1,"[{""needsFetchReview"":false,""partnerItemId"":""1""...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5,All-receipts receipt bonus,1609687534000,1609687534000,1609687534000,1609687539000,1609687534000,5.0,1609632000000,4,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5,All-receipts receipt bonus,1609687506000,1609687506000,1609687511000,1609687511000,1609687506000,5.0,1609601106000,2,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25,COMPLETE_NONPARTNER_RECEIPT,1614594147000,1614594147000,"""""",1614594148000,"""""",25.0,1597622400000,2,"[{""barcode"":""B076FJ92M4"",""description"":""muelle...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,"""""","""""",1614613361873,1614613361873,"""""",1614613361873,"""""","""""","""""","""""","""""",SUBMITTED,"""""",5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,"""""","""""",1614607657664,1614607657664,"""""",1614607657664,"""""","""""","""""","""""","""""",SUBMITTED,"""""",5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,"""""",1614604049000,"""""",25.0,1597622400000,2,"[{""barcode"":""B076FJ92M4"",""description"":""muelle...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,"""""","""""",1614565354962,1614565354962,"""""",1614565354962,"""""","""""","""""","""""","""""",SUBMITTED,"""""",5fc961c3b8cfca11a077dd33

In [18]:
df2 = df2.rename(columns={"_id.$oid": "Receipt_id"})
df2 = df2.rename(columns={"createDate.$date":"CreateDate"})
df2 = df2.rename(columns={"dateScanned.$date":"dateScanned"})
df2 = df2.rename(columns={"finishedDate.$date":"FinishedDate"})
df2 = df2.rename(columns={"modifyDate.$date":"ModifyDate"})
df2 = df2.rename(columns={"pointsAwardedDate.$date":"pointsAwardDate"})
df2 = df2.rename(columns={"purchaseDate.$date":"purchaseDate"})

In [19]:
df2.fillna(0)
df2.replace(np.nan, 0)

,Receipt_id,bonusPointsEarned,bonusPointsEarnedReason,CreateDate,dateScanned,FinishedDate,ModifyDate,pointsAwardDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1609687531000,1609687536000,1609687531000,500.0,1609632000000,5,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1609687483000,1609687488000,1609687483000,150.0,1609601083000,2,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5,All-receipts receipt bonus,1609687537000,1609687537000,"""""",1609687542000,"""""",5,1609632000000,1,"[{""needsFetchReview"":false,""partnerItemId"":""1""...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5,All-receipts receipt bonus,1609687534000,1609687534000,1609687534000,1609687539000,1609687534000,5.0,1609632000000,4,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5,All-receipts receipt bonus,1609687506000,1609687506000,1609687511000,1609687511000,1609687506000,5.0,1609601106000,2,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25,COMPLETE_NONPARTNER_RECEIPT,1614594147000,1614594147000,"""""",1614594148000,"""""",25.0,1597622400000,2,"[{""barcode"":""B076FJ92M4"",""description"":""muelle...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,"""""","""""",1614613361873,1614613361873,"""""",1614613361873,"""""","""""","""""","""""","""""",SUBMITTED,"""""",5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,"""""","""""",1614607657664,1614607657664,"""""",1614607657664,"""""","""""","""""","""""","""""",SUBMITTED,"""""",5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,"""""",1614604049000,"""""",25.0,1597622400000,2,"[{""barcode"":""B076FJ92M4"",""description"":""muelle...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,"""""","""""",1614565354962,1614565354962,"""""",1614565354962,"""""","""""","""""","""""","""""",SUBMITTED,"""""",5fc961c3b8cfca11a077dd33

In [20]:
df2['CreateDate']=df2['CreateDate'].apply(lambda d: datetime.fromtimestamp(int(d)/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [21]:
df2['dateScanned']=df2['dateScanned'].apply(lambda d: datetime.fromtimestamp(int(d)/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [22]:
df2['monthCreate'] = pd.DatetimeIndex(df2['CreateDate']).month
df2['YearCreate'] = pd.DatetimeIndex(df2['CreateDate']).year

df2['monthScanned'] = pd.DatetimeIndex(df2['dateScanned']).month
df2['yearScanned'] = pd.DatetimeIndex(df2['dateScanned']).year
df2.head()

,Receipt_id,bonusPointsEarned,bonusPointsEarnedReason,CreateDate,dateScanned,FinishedDate,ModifyDate,pointsAwardDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,monthCreate,YearCreate,monthScanned,yearScanned
0,5ff1e1eb0a720f0523000575,500,"Receipt number 2 completed, bonus point schedu...",2021-01-03 10:25:31,2021-01-03 10:25:31,1609687531000,1609687536000,1609687531000,500.0,1609632000000,5,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,1,2021,1,2021
1,5ff1e1bb0a720f052300056b,150,"Receipt number 5 completed, bonus point schedu...",2021-01-03 10:24:43,2021-01-03 10:24:43,1609687483000,1609687488000,1609687483000,150.0,1609601083000,2,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,1,2021,1,2021
2,5ff1e1f10a720f052300057a,5,All-receipts receipt bonus,2021-01-03 10:25:37,2021-01-03 10:25:37,"""""",1609687542000,"""""",5,1609632000000,1,"[{""needsFetchReview"":false,""partnerItemId"":""1""...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,1,2021,1,2021
3,5ff1e1ee0a7214ada100056f,5,All-receipts receipt bonus,2021-01-03 10:25:34,2021-01-03 10:25:34,1609687534000,1609687539000,1609687534000,5.0,1609632000000,4,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,1,2021,1,2021
4,5ff1e1d20a7214ada1000561,5,All-receipts receipt bonus,2021-01-03 10:25:06,2021-01-03 10:25:06,1609687511000,1609687511000,1609687506000,5.0,1609601106000,2,"[{""barcode"":""4011"",""description"":""ITEM NOT FOU...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,1,2021,1,2021

In [23]:
df2.to_csv( r'/Users/srinathnarayanan/Downloads/Fetch/Receipts.csv', header=True, index=False)

In [24]:
df_Updated_User = df.drop(['role', 'state','lastLoginDate','active','signUpSource'], axis=1)

In [25]:
df2_Updated_Receipts = df2.drop(['bonusPointsEarnedReason','FinishedDate','ModifyDate','pointsAwardDate','purchaseDate'],axis=1)

In [26]:
df1_Updated_Brand = df1.drop(['cpg__$ref', 'cpg__$id__$oid','categoryCode','category'], axis=1)

In [27]:
df_Final_BrandReceUser = pd.concat([df_Updated_User, df1_Updated_Brand,df2_Updated_Receipts],axis=1)

In [28]:
df_Final_BrandReceUser.to_csv( r'/Users/srinathnarayanan/Downloads/Fetch/df_Final_BrandReceUser.csv', header=True, index=False)